/venv/
/sagemaker_ssh_helper.egg-info/
.ipynb_checkpoints
*/**/.ipynb_checkpoints
/dist
/tests/opt_ml/model/
/tests/opt_ml/code/
/tests/opt_ml/output/
/.venv/
/build/
.DS_Store
*/**/.DS_Store
.vscode
__pycache__
/tests/output/
/tests/.pytest_cache/
/cdk.out/
